<html>

  <head>
    <style>
    </style>
  </head>

  <body>
    <p>Olá, {{name}}</p>

    <p>Você acabou de colocar {{credits}} no BoraHub.</p>
    <p>Aproveita para usar todas nossas ferramentas e alavancar ainda mais seu
      sucesso!</p>

    <p>Atenciosamente,</p>
    <p>Equipe #BoraAjudar.Work</p>

  </body>

</html>