<html>

<head>
  <style>
  </style>
</head>

<body>
  <p>Olá {{name}},</p>
  <p>Você solicitou a troca de senha</p>
  <p>Clique no link abaixo para resetar sua senha</p>
  <a href="{{link}}">Reset Password</a>
  <p>Caso não consiga abrir o link, copie e cole a url abaixo</p>
  <p>{{link}}</p>
  <small>Se você não quer resetar sua senha, desconsidere este email e nenhuma ação será tomada.</small>
</body>

</html>