<html>
  <head>
    <meta charset='UTF-8' />
    <title>BoraHub </title>
  </head>
  <body
    style='font-family: Arial, sans-serif; text-align: left; padding: 20px; background-color: #f4f4f4;'
  >
    <div
      style='background-color: #ffffff; padding: 20px; margin: 0 auto; width: 80%; box-shadow: 0 4px 8px rgba(0,0,0,0.1);'
    >
      <img
        width='400px'
        alt=''
        src='https://www.borahub.com.br/assets/imgs/template/borahub.png'
      />
      <h1>Olá, {{name}}</h1>
      <p>Seja bem-vindo ao BoraHub!</p>

      <p>Bora confirmar seu email?</p>
      <p><a
          style='display: inline-block; padding: 10px 20px; color: #ffffff; background-color: #766ef4; border: none; border-radius: 5px; text-decoration: none;'
          href='{{url}}/confirmacao?token={{token}}'
        >Confirmar email de cadastro</a></p>
      <p>É com grande prazer que damos as boas-vindas ao BoraHub! Seja você um
        candidato em busca do emprego dos sonhos ou um recrutador procurando o
        profissional ideal, estamos aqui para ajudar.</p>

      <p>Agora que você fez o cadastro em nosso site, você tem acesso a todas as
        oportunidades disponíveis em nossa plataforma. Com nosso sistema de
        busca inteligente, você pode encontrar o emprego ou o candidato ideal de
        forma rápida e fácil.</p>

      <p>Além disso, no BoraHub, você pode contar com recursos exclusivos para
        te ajudar a se destacar, como dicas de carreira, orientação para
        entrevistas e muito mais.</p>

      <p>Não se esqueça de manter seu perfil atualizado e completo, pois isso
        aumenta suas chances de sucesso em suas buscas.</p>

      <p>Qualquer dúvida, nossa equipe está à disposição para ajudar. É só
        entrar em contato conosco através do nosso site ou do nosso Whatsapp.</p>

      <p>Mais uma vez, seja muito bem-vindo(a) ao BoraHub.
        <br />Estamos ansiosos para ajudar você a conquistar grandes
        oportunidades!</p>

      <p>Atenciosamente,</p>
      <p>Equipe BoraHub</p>
    </div>
  </body>
</html>