<html>

  <head>
    <style>
    </style>
  </head>

  <body>
    <p>Olá, {{name}}</p>
    <p>Bem vindo de volta. Clique abaixo para logar :) </p>

    <p><a href='{{url}}/confirmacao?token={{token}}{{page}}'>LOGAR</a></p>

  </body>

</html>