<html>

  <head>
    <style>
    </style>
  </head>

  <body>
    <p>Olá, {{name}}</p>

    <p>Seja bem-vindo ao BoraAjudar.Work!</p>

    <p>Bora confirmar seu email?</p>
    <p><a href='{{url}}/confirmacao?token={{token}}'>Confirmar email de cadastro</a></p>
    <p>É com grande prazer que damos as boas-vindas ao #BoraAjudar.Work! Seja
      você um candidato em busca do emprego dos sonhos ou um recrutador
      procurando o profissional ideal, estamos aqui para ajudar.</p>

    <p>Agora que você fez o cadastro em nosso site, você tem acesso a todas as
      oportunidades disponíveis em nossa plataforma. Com nosso sistema de busca
      inteligente, você pode encontrar o emprego ou o candidato ideal de forma
      rápida e fácil.</p>

    <p>Além disso, no #BoraAjudar.Work, você pode contar com recursos exclusivos
      para te ajudar a se destacar, como dicas de carreira, orientação para
      entrevistas e muito mais.</p>

    <p>Não se esqueça de manter seu perfil atualizado e completo, pois isso
      aumenta suas chances de sucesso em suas buscas.</p>

    <p>Qualquer dúvida, nossa equipe está à disposição para ajudar. É só entrar
      em contato conosco através do nosso site ou do nosso Whatsapp.</p>

    <p>Mais uma vez, seja muito bem-vindo(a) ao #BoraAjudar.Work.
      <br />Estamos ansiosos para ajudar você a conquistar grandes
      oportunidades!</p>

    <p>Atenciosamente,</p>
    <p>Equipe #BoraAjudar.Work</p>

  </body>

</html>