<html>

  <head>
    <style>
    </style>
  </head>

  <body>
    <p>Olá, {{name}}</p>
    <p>Clique no link abaixo para validar seu email :) </p>

    <p><a href='{{url}}/confirmacao?token={{token}}'>CONFIRMAR EMAIL DE CADASTRO</a></p>

  </body>

</html>