<html>
  <head>
    <meta charset='UTF-8' />
    <title>BoraHub </title>
  </head>
  <body
    style='font-family: Arial, sans-serif; text-align: left; padding: 20px; background-color: #f4f4f4;'
  >
    <div
      style='background-color: #ffffff; padding: 20px; margin: 0 auto; width: 80%; box-shadow: 0 4px 8px rgba(0,0,0,0.1);'
    >
      <img
        width='300px'
        alt=''
        src='https://www.borahub.com.br/assets/imgs/template/borahub.png'
      />
      <p>Olá, {{name}}</p>
      <p>Clique no link abaixo para validar seu email :) </p>

      <p><a
          style='display: inline-block; padding: 10px 20px; color: #ffffff; background-color: #766ef4; border: none; border-radius: 5px; text-decoration: none;'
          href='{{url}}/valida?token={{token}}'
        >CONFIRMAR EMAIL DE CADASTRO</a></p>
      <p>Atenciosamente,</p>
      <p>Equipe BoraHub</p>
    </div>
  </body>

</html>